[Unit]
Description=Launch Barrier server
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/barriers --no-daemon --disable-crypto --no-tray --no-restart
Restart=on-failure

[Install]
WantedBy=graphical-session.target
