[Unit]
Description=Launch Polybar

[Service]
ExecStart=/usr/bin/polybar --reload "%i"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
